.skillCard {
    margin: 0.5rem;
    display: grid;
    width: 5rem;
    height: 6rem;
    align-items: center;
    justify-items: center;
    font-size: 1.1rem;
    border-radius: 8px;
    font-family: "League Spartan", sans-serif;
    transition: color 0.1s ease-in-out, transform 0.1s ease;
}

.skillCard:hover {
    color: '#AAAAAA';
    transform: scale(1.05);
}

.skillCardIcon {
    /* font-size: xx-lar */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.skillCardName {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 0.875rem;
}