body {
    font-size: 16px;
}

.certificationsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    height: auto;
    margin: 10rem 10rem;
    gap: 5rem;
    font-family: "League Spartan", sans-serif;
}

.certificationsHeader {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.certificationsHeaderText {
    color: gray;
    transform: rotate(-90deg);
    text-align: center;
    transform-origin: center;
    font-size: 3.5rem;
    font-weight: 800;
    margin: 0;
}

.certificationsHeaderText:hover {
    transform: rotate(-45deg);
    transition: transform 0.2s ease-in-out;
}

.certificationsBody {
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-right: 10rem; */
    gap: 4rem;
}

@media (max-width: 900px) {
    .certificationsContainer {
        flex-direction: column;
        margin: 10rem 2rem;
        height: auto;
        gap: 2rem;
    }

    .certificationsHeader {
        flex-direction: row;
        gap: 0.8rem;
    }

    .certificationsHeaderText {
        transform: none;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
    }

    .certificationsHeaderText:hover {
        transform: none
    }

    .certificationsBody {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        /* margin: 0 1rem 2rem 1rem; */
    }
}