body {
    font-size: 16px;
}

.projectsContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    /* padding: 0 5%; */
    height: auto;
    margin: 10rem 10rem;
    gap: 5rem;
    font-family: "League Spartan", sans-serif;
}

.projectsHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.projectsHeaderText {
    color: gray;
    transform: rotate(90deg);
    text-align: center;
    transform-origin: center;
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    transition: transform 0.1s ease-in-out;
}

.projectsHeaderText:hover {
    transform: rotate(45deg);
}

.projectsBody {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


@media (max-width: 900px) {
    .projectsContainer {
        flex-direction: column;
        margin: 10rem 2rem;
        height: auto;
        gap: 2rem;
    }

    .projectsHeader {
        flex-direction: row;
        gap: 0.8rem;
    }

    .projectsHeaderText {
        transform: none;
        text-align: center;
        font-size: 2rem;
    }

    .projectsHeaderText:hover {
        transform: none;
    }

    .projectsBody {
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

}