body {
    font-size: 16px
}

.experienceItem {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    font-family: "League Spartan", sans-serif;
}

.experienceItemHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experienceItemCompany {
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 0.25rem;
    margin: 0.9375rem 0.625rem 0.625rem;
}

.companyLogo{
    font-size: 2.5rem;
    /* padding-bottom: 5px; */
}

.experienceItemCompanyName {
    margin: 0 0 0 0.3125rem;
    font-size: 2rem;
    font-weight: 600;
    color: #FFFFFF;
}

.experienceItemLocation {
    margin: 0.625rem 0.9375rem 0.625rem 0.625rem;
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 100;
}

.experienceItemSubHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0.9375rem;
    font-size: 1.125rem;
}

.experienceItemPosition {
    margin: 0.3125rem 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.experienceItemDate, .experienceItemTeam{
    /* margin: 0 0 0.3125rem; */
    font-size: 1.125rem;
    font-weight: 100;
    font-style: italic;
}

.experienceItemAward {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin: 0 0.9375rem;
    font-family: "League Spartan", sans-serif;
    font-size: medium;
    font-weight: 500;
}

.experienceItemAwardIcon {
    color: gold;
    font-size: 2rem;
}

.experienceItemDescriptionList {
    padding: 0rem 0.9375rem;
}

.experienceItemDescriptionListItem {
    font-size: 1.25rem;
    margin: 0 0.9375rem 0.9375rem; /*top, left/right, bottom */
    font-weight: 300;
    text-align: justify;
}


@media (max-width: 900px) {
    .experienceItem {
        overflow: auto;
        scrollbar-width: none;
        margin-bottom: 1.25rem;
    }

    .experienceItemCompany {
        display: flex;
        justify-content: space-between;
        align-items:center;
        gap: 0.2rem;
        margin: 0.625rem 0.625rem 0.625rem 0.625rem; 
    }

    .companyLogo{
        font-size: 1.875rem;
        /* padding-bottom: 5px; */
    }

    .experienceItemCompanyName {
        font-size: 2rem;
        font-weight: 600;
    }

    .experienceItemLocation {
        font-size: 1rem;
    }

    .experienceItemPosition {
        font-size: 1.25rem;
        font-weight: 400;
    }

    .experienceItemSubHeader {
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-start;
    }

    .experienceItemDate, .experienceItemTeam, .experienceItemLocation{
        font-size: 1rem;
    }

    .experienceItemAward {
        gap: 0.4rem;
        font-size: 1rem;
    }
    
    .experienceItemAwardIcon {
        color: gold;
        font-size: 1.5rem;
    }
    
    .experienceItemDescriptionListItem {
        font-size: 1rem;
    }
}