body {
    font-size: 16px;
}

.aboutMeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    height: auto;
    margin: 10rem 10rem;
    gap: 5rem;
    font-family: "League Spartan", sans-serif;
}

.aboutMeHeader {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.aboutMeHeaderText {
    color: gray;
    transform: rotate(-90deg);
    text-align: center;
    transform-origin: center;
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
}

.aboutMeHeaderText:hover {
    transform: rotate(-45deg);
    transition: transform 0.2s ease-in-out;
}

.aboutMeBody {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    overflow: hidden;
    /* margin-right: 10rem; */
    /* gap: 4rem; */
}

.aboutMeCard {
    padding: 1rem 1.5rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.statCards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 900px) {
    .aboutMeContainer {
        flex-direction: column;
        margin: 10rem 2rem;
        height: auto;
        gap: 2rem;
    }

    .aboutMeHeader {
        flex-direction: row;
    }

    .aboutMeHeaderText {
        transform: none;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
    }

    .aboutMeHeaderText:hover {
        transform: none
    }

    .aboutMeBody {
        display: block;
        overflow: hidden;
        /* margin: 0 1rem 2rem 1rem; */
    }
}